.royal_blue {
	color: #0c0c5d;
}
.grey {
	color : #4b4b4b;
}

.home_title {
	color: #4b4b4b;
	font-size : 55px;
	line-height: 50px;
	margin : 250px 0 0 20%;
}
.home_check_group {
	color: #4b4b4b;
	font-size : 15px;
	margin-left : 18%;
	font-weight: bold;
	list-style-type: none;
}
.home_check {
	color : #0d0;
}
#subscription-form {
	padding : 100px 30px 0 30px;
	min-height: 100%;
}
#login-form-button {
	width: 100%;
}
#forgot-form-button {
	width: 100%;
}
.btn-primary {
	color: white;	
	background-color: #656565;
	border-color: #656565;	
	border-radius: 20px;
}
.text-brand-primary {
	color: white;
	font-size : 15px;
	margin-left : 50px;
	font-weight: 600;

}
.home_logo { 
	width: 100px;
}
a {
	color: white;
}
a:hover {
	color : grey;
}
.login-back {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	min-width: 400px;	
	max-width: 1000px;
}
.login-blog {
	border: 1px solid #656565;
	border-radius: 10px;
	padding : 40px 10px;
}
.login-blog-title {
	font-size : 25px;
	font-weight: bold;
}
.login-blog-content {
	font-size : 14px;
}
.forgot-form {
	background-color:#3B5998;
	border-radius: 10px;
	max-width: 1000px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}