{% load static %}
<!DOCTYPE>
<html>
	<head>
	    <meta charset = "utf8">
	    <meta content="width=device-width, initial-scale=1.0" name="viewport">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	    
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <link href="{% static 'main.css' %}" rel="stylesheet">

	</head>
	<body class="container-fluid">
		<div class="m-5 text-center"><img src="{% static 'logo.png' %}" class="home_logo"></div>
		<div class="m-5 text-center h1">Reset your password</div>
		<div class="forgot-form p-5 text-center">
			<form>
				<div class="form-group">
					<input type="email" class="form-control" placeholder="your email">
				</div>

				<button id="forgot-form-button" class="btn btn-primary" type="submit" data-loading-text="Loading...">Reset password</button>
			</form>
			<div class="p-3 text-center text-white">Already have an account?<a href="/main">&nbsp;Sign up</a>
		</div>
		</div>
	</body>
</html>