{% load static %}
<!DOCTYPE>
<html>
	<head>
	    <meta charset = "utf8">
	    <meta content="width=device-width, initial-scale=1.0" name="viewport">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	    
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <link href="{% static 'main.css' %}" rel="stylesheet">

	</head>
	<body class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="home_title">
				Get access to all features:
				</div><br>
				<ul class="home_check_group">
					<li><img src="https://www.proxyclick.com/hubfs/assets/images/icon-checkmark.svg?t=1537965635976" alt="">&nbsp;Customize your check-in workflow</li>
					<li><img src="https://www.proxyclick.com/hubfs/assets/images/icon-checkmark.svg?t=1537965635976" alt="">&nbsp;Send real-time notifications to your hosts upon visitor's arrival</li>
					<li><img src="https://www.proxyclick.com/hubfs/assets/images/icon-checkmark.svg?t=1537965635976" alt="">&nbsp;Manage watch lists, security lists and user permissions</li>
					<li><img src="https://www.proxyclick.com/hubfs/assets/images/icon-checkmark.svg?t=1537965635976" alt="">&nbsp;Run useful reports and visualize your data</li>
					<li><img src="https://www.proxyclick.com/hubfs/assets/images/icon-checkmark.svg?t=1537965635976" alt="">&nbsp;And much more</li>
				</ul>
			</div>
			<div class="col-lg-6 col-md-12"  style="background-color:#3B5998">
				<form id="subscription-form">
					<div class="form-group">
						<label class="text-white font-weight-bold" for="email">Work email&nbsp;*</label>
						<input id="email" class="form-control" name="email" required type="email" autofocus>
					</div>
					<div class="form-group">
						<label class="text-white font-weight-bold" for="full-name">First and last name&nbsp;*</label>
						<input id="full-name" class="form-control" name="full-name" required type="text" autofocus>
					</div>
					<div class="form-group">
						<label class="text-white font-weight-bold" for="company-name">Company name&nbsp;*</label>
						<input id="company-name" class="form-control" name="company-name" required type="text" autofocus>
					</div>
					<div class="form-group">
						<label class="text-white font-weight-bold" for="phone">Phone number</label>
						<input id="phone" class="form-control" name="phone" type="tel" autofocus>
					</div>
					<div class="form-group">
						<label class="text-white font-weight-bold" for="password">Password&nbsp;*</label>
						<input id="password" class="form-control" name="password" required type="password" autofocus>
					</div>
					<div class="text-white">
						<span class="font-weight-bold">It should contain at least 6 characters. Keeping things safe!</span><br><br>
						<span style="font-size : 12px;">
							By clicking submit below, you consent to allow to store and process the personal information submitted above to provide you the content requested.
						</span>
					</div>
					<br>
					<button id="subscribe-form-button" class="btn btn-primary" type="submit" data-loading-text="Loading...">Start your free trial</button>
					<br><br>
					<p class="text-brand-primary">Already have an account?  <a href="login">Sign in</a></p>
				</form>
			</div>

		</row>
	</body>
</html>		