{% load static %}
<!DOCTYPE>
<html>
	<head>
	    <meta charset = "utf8">
	    <meta content="width=device-width, initial-scale=1.0" name="viewport">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	    
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <link href="{% static 'main.css' %}" rel="stylesheet">

	</head>
	<body class="container-fluid">
		<div class="m-5 text-center"><img src="{% static 'logo.png' %}" class="home_logo"></div>
		<div class="login-back">
			<div class="row font-weight-bold h3 mx-2">Welcome Back</div>
			<div class="row mt-3">
				<div class="col-lg-6 col-xd-6 col-md-12 p-3"  style="background-color:#3B5998; border-radius: 10px;">	
					<form class="m-3 p-5">
						<div class="form-group">
							<input class="form-control" placeholder="email" type="email"> 
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="password" type="password"> 
						</div>
						<div class="form-group">
							<input type="checkbox" class="float-left mt-1"><span class="text-white">&nbsp;Remember me</span>
							<span class="float-right"><a href="/main/forgot">Forgot your password?</a></span>
						</div>
						<button id="login-form-button" class="btn btn-primary" type="submit" data-loading-text="Loading...">Login</button>
					</form>

					<div class="p-3 text-center text-white">
						Don't have a company account?<a href="/main/">&nbsp;Sign up</a>
					</div>
				</div>
				<div class="col-lg-6 col-xd-6 col-md-12 p-3">
					<div class="login-blog m-5">
						<div class="login-blog-title">Visitors will love our faster check-ins</div>
						<div class="login-blog-content">And so will your legal and security teams. Find out more with <a href="#" style="color : #212529">Agreement Validity and Sign Agreement in Advance</a></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>	